body {
    display: flex;
    justify-content: center;
}
.Resume{
    position: relative;
    width: 1280px;
    height: 1399px;
    
    background: #F5F7FA;
}
.Rectangle1{
    position: absolute;
    width: 1200px;
    height: 1319px;
    left: 40px;
    top: 42px;
    background: #FFFFFF;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}
.left{
    position: absolute;
    width: 370px;
    height: 1319px;
    left: 40px;
    top: 40px;
}
.Rectangle2{
    position: absolute;
    width: 370px;
    height: 1319px;
    background: #1E2939;
    /* left: 40px;
    top: 40px; */
}
.photo{
    position: absolute;
    width: 370px;
    height: 354px;
    /* left: 40px; */
    top: 40px;
    background-image: url("1.jpeg");
    background-size: cover;
}
.Contacts{
    position: absolute;
    width: 183px;
    height: 83px;
    left: 80px;
    top: 485px;
}
.Contacts2{
    width: 103px;
    height: 27px;
    left: 80px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    /* identical to box height */
    color: #FFFFFF;
}

.Contacts3{
width: 157px;
left: 106px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* or 171% */
text-decoration-line: underline;
color: #FFFFFF;
opacity: 0.5;
}
#TechSkills{
    position: absolute;
    width: 121px;
    height: 203px;
    left: 80px;
    top: 615px;
}
.TechSkills{
    width: 121px;
    height: 27px;
    left: 80px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    /* identical to box height */
    color: #FFFFFF;
}
.Tech{
    width: 72px;
    left: 96px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    color: #FFFFFF;
}
#SoftSkills{
    position: absolute;
    width: 113px;
    height: 131px;
    left: 80px;
    top: 862px;
}
.SoftSkills{
    width: 113px;
    height: 27px;
    left: 80px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    /* identical to box height */
    color: #FFFFFF;
}
.Soft{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    color: #FFFFFF;
}
.front{
    position: absolute;
    width: 600px;
    height: 17px;
    left: 498px;
    top: 100px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    color: #000000;
}
.name{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
    width: 400px;
    color: #000000;
}
.about{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}
.projects{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
}
.Experience{
    width: 525px;
    height: 213px;
}
.exp1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: burlywood;
}
.exp2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
}
.exp3{
    opacity: 0.5;
}
.Education {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
}
.educ1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
}
.where{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 40px;
    /* identical to box height */
    color: #FB6D3A;
}
.from{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
}
.when{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 25px;
    /* identical to box height */
    color: #A8A8A8;
}